<!--
The below template is written in templating language that extends or inherits
from a base template  base.html
customizes specific sections of the base template to create a webpage with a title, searchform, copyright notice
-->

{% extends 'base.html' %}
<!--this template inherits from the another template base.html-->

{% block title %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<title>G.Sai kiran reddy</title>

{% endblock title%}

{% block body %}


<div class="container">
    <form action="/review" id="search" method="POST" class="search-box-div">
      <legend id="legend">Search Product</legend>
      <div class="form-group">
        <input type="text" name="content" class="form-control" id="Searchproduct" aria-describedby="SearchProduct"
        placeholder="What are you looking for?">
    </div>
    <button  type="submit" class="btn btn-primary button" >Search</button>
  </form>
</div>
<h5 class=".text-muted copyright">&copy; G.Saikiran reddy</h5>


{% endblock body %}